# Database Config
DB_HOST=localhost
DB_PORT=1521
DB_USERNAME=db-username
DB_PASSWORD=db-password
DB_SERVICE_NAME=pdb-name
DB_SYNCHRONIZE=true
PORT=3000

# Auth Config
JWT_SECRET=jwt_string

# Node Mailer Config
MAIL_USER=email
MAIL_PASS=email_pass